framework:
    notifier:
        chatter_transports:
            zulip: '%env(ZULIP_DSN)%'
            telegram: '%env(TELEGRAM_DSN)%'
            slack: '%env(SLACK_DSN)%'
            rocketchat: '%env(ROCKETCHAT_DSN)%'
            microsoftteams: '%env(MICROSOFT_TEAMS_DSN)%'
            mattermost: '%env(MATTERMOST_DSN)%'
            googlechat: '%env(GOOGLE_CHAT_DSN)%'
            discord: '%env(DISCORD_DSN)%'
        texter_transports:
        channel_policy:
            # use chat/slack, chat/telegram, sms/twilio or sms/nexmo
            urgent: ['email']
            high: ['email']
            medium: ['email']
            low: ['email']
        admin_recipients:
            - { email: admin@example.com }
