<p>
    A new event has been recorded for this domain:
</p>

<ul>
    <li><strong>Action:</strong> {{ event.action }}</li>
    <li><strong>Date:</strong> {{ event.date|date('Y-m-d H:i:s') }}</li>
</ul>
