{% extends "emails/base.html.twig" %}

{% set email_color = '#f9f9f9' %}
{% set title = 'Connector Validation Failed' %}
{% block content %}
    <p>Hello, <br/>
        We would like to inform you that an authentication error occurred during the weekly validation of the following connector:<br/>
        <strong>Connector ID:</strong> {{ connector.token }}<br/>
        <strong>Connector Provider:</strong> {{ connector.provider }}<br/>
    </p>
    <p>This issue indicates that the login credentials provided for the connector could not be validated. As a result, we were unable to verify the connector's validity.</p>
    <p>Here are some possible causes:</p>
    <ul>
        <li>The login credentials for the connector may have been changed or are incorrect.</li>
        <li>A temporary issue with the authentication server or service may have occurred.</li>
    </ul>
    <br/><br/>
    <p>To resolve this issue, please verify the login credentials associated with the connector and update them if necessary.</p>
    <p>Thank you for your attention,<br/>
        Sincerely,<br/>
    </p>
{% endblock %}
