{% extends "emails/base.html.twig" %}

{% set email_color = '#f9f9f9' %}
{% set title = 'Domain Watchdog Error' %}
{% block content %}
    <p>Hello, <br/>
        We would like to inform you that an error occurred while ordering the following domain name:<br/>
        <strong>Domain name:</strong> {{ domain.ldhName }}<br/>
    </p>
    <p>Here are some possible explanations:</p>
    <ul>
        <li>The Connector configuration you provided is no longer valid.</li>
        <li>It is likely that the domain is no longer available for registration.</li>
        <li>A temporary interruption is affecting the registration of this domain name.</li>
    </ul>
    <br/><br/>
    <p>Thank you for your understanding,<br/>
        Sincerely,<br/>
    </p>
{% endblock %}
