<p>
    Hello,<br />
    <br />
    We would like to inform you that an error occurred while updating the information for the following domain name.
    <br/>
    Domain name : <b>{{ domain.ldhName }}</b><br/>
    <br/>
    Here are some possible explanations:<br/>
    * It is likely that the domain will be available for registration again.<br/>
    * A temporary outage affects the provision of domain name information.<br/>
    <br/>
    <br/>
    Thank you for your understanding,<br/>
    Sincerely<br/>
    <br/>
    Domain Watchdog
</p>