{% extends "emails/base.html.twig" %}

{% set email_color = '#f9f9f9' %}
{% set title = 'Domain Watchdog Error' %}
{% block content %}
    <p>Hello, <br/>
        We would like to inform you that an error occurred while updating the information for the following domain
        name:<br/>
        <strong>Domain name:</strong> {{ domain.ldhName }}<br/>
    </p>
    <p>Here are some possible explanations:</p>
    <ul>
        <li>It is likely that the domain will be available for registration again.</li>
        <li>A temporary outage affects the provision of domain name information.</li>
    </ul>
    <br/><br/>
    <p>Thank you for your understanding,<br/>
        Sincerely,<br/>
    </p>
{% endblock %}
