@font-face {
 font-family: "Noto Color Emoji";
 font-style: normal;
 font-display: swap;
 font-weight: 400;
 src: url(@fontsource/noto-color-emoji/files/noto-color-emoji-emoji-400-normal.woff2)
   format("woff2"),
  url(@fontsource/noto-color-emoji/files/noto-color-emoji-emoji-400-normal.woff)
   format("woff");
}

body {
 margin: 0;
 font-family: "Noto Color Emoji", sans-serif;
}
