{% extends "emails/base.html.twig" %}

{% set email_color = '#0056b3' %}
{% set title = 'Domain Watchdog - Confirm Email' %}
{% block content %}
    <p>Hello, <br/>
        Please confirm your email address by clicking the following link: <br><br>
        <a href="{{ signedUrl|raw }}">Confirm my Email</a>.
        This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
        <br/><br/>
        Thank you for your understanding,<br/>
        Sincerely,<br/>
    </p>
{% endblock %}
