<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            color: #333;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            background-color: #f9f9f9;
        }

        .header {
            text-align: center;
            margin-bottom: 20px;
        }

        .header h1 {
            font-size: 24px;
            color: #0056b3;
        }

        .content {
            margin-bottom: 20px;
        }

        .content p {
            margin: 0 0 10px;
        }

        .footer {
            text-align: center;
            color: #777;
        }
    </style>
    <title>Domain Watchdog - Confirm Email</title>
</head>
<body>
<div class="container">
    <div class="header">
        <h1>Domain Watchdog - Confirm Email</h1>
    </div>
    <div class="content">
        <p>Hello, <br/>
            Please confirm your email address by clicking the following link: <br><br>
            <a href="{{ signedUrl|raw }}">Confirm my Email</a>.
            This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
            <br/><br/>
            Thank you for your understanding,<br/>
            Sincerely,<br/>
            Domain Watchdog<br/>
        </p>
    </div>
    <div class="footer">
        <p>&copy; Domain Watchdog</p>
    </div>
</div>
</body>
</html>