{% extends "emails/base.html.twig" %}

{% set email_color = '#0056b3' %}
{% set title = 'Domain Watchdog - Domain Ordered' %}
{% block content %}
    <p>Hello, <br/>
        We are pleased to inform you that a domain name present in your Watchlist has been ordered using the
        connector you have chosen.<br/>
        <strong>Domain name:</strong> {{ domain.ldhName }}<br/>
        <strong>Connector provider :</strong> {{ provider }}<br/>
        <br/><br/>
        Thank you for your attention.<br/>
        Best regards<br/>
    </p>
{% endblock %}
