<p>
    Hello,<br />
    <br />
    We are pleased to inform you that a new action has been detected on a domain name in your watchlist.<br />
    Domain name : <b>{{ event.domain.ldhName }}</b><br />
    Action : <b>{{ event.action.value }}</b><br />
    Effective Date : <b>{{ event.date | date("c") }}</b><br />
    <br />
    <br />
    Thank you for your understanding,<br />
    Sincerely<br />
    <br />
    Domain Watchdog
</p>